[submodule "ralc-markov-fantasy-names"]
	path = markovnames
	url = https://github.com/Dinsmoor/ralc-markov-fantasy-names
[submodule "roguelike-dungeon-generator"]
	path = dungeongenerator
	url = https://github.com/Dinsmoor/roguelike-dungeon-generator
